flows.json
[
    {
        "id": "1a7f55c947897d20",
        "type": "tab",
        "label": "Activities processing",
        "disabled": false,
        "info": "This flow processes the acitivities\nextracted from the json Object and\nthe sends them through a POST req.\nto IFOX",
        "env": []
    },
    {
        "id": "bbc36350aaf7bd73",
        "type": "tab",
        "label": "Processing raw-json",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f996fac0259dd29",
        "type": "debug",
        "z": "1a7f55c947897d20",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 340,
        "wires": []
    },
    {
        "id": "388d0dacf92d87b5",
        "type": "http request",
        "z": "1a7f55c947897d20",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://haw.ifox-systems.de/api/v1/extern/Activities/add",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 380,
        "wires": [
            [
                "0f996fac0259dd29"
            ]
        ]
    },
    {
        "id": "9badb57c66753082",
        "type": "split",
        "z": "1a7f55c947897d20",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "388d0dacf92d87b5"
            ]
        ]
    },
    {
        "id": "88359554b30b8162",
        "type": "join",
        "z": "1a7f55c947897d20",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "ab9b75f5543399dd"
            ]
        ]
    },
    {
        "id": "ab9b75f5543399dd",
        "type": "function",
        "z": "1a7f55c947897d20",
        "name": "add authorization header",
        "func": "msg.headers = {\n\n    'Authorization': \"Bearer \"+msg.payload.authorization.token,\n    'Content-Type': 'application/json'\n\n}\nmsg.payload = msg.payload.data.machines\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            [
                "9badb57c66753082"
            ]
        ]
    },
    {
        "id": "84e53e8ed1e6756f",
        "type": "http in",
        "z": "1a7f55c947897d20",
        "name": "authentication",
        "url": "/authentication",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "df0038fe2b58fae9",
                "fd7b85639544d84c"
            ]
        ]
    },
    {
        "id": "df0038fe2b58fae9",
        "type": "http response",
        "z": "1a7f55c947897d20",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 160,
        "y": 600,
        "wires": []
    },
    {
        "id": "01f4136a892d872c",
        "type": "http in",
        "z": "1a7f55c947897d20",
        "name": "data",
        "url": "/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "6220bfd913d5e1d7",
                "6d112815747b0e9b"
            ]
        ]
    },
    {
        "id": "6220bfd913d5e1d7",
        "type": "http response",
        "z": "1a7f55c947897d20",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "6d112815747b0e9b",
        "type": "function",
        "z": "1a7f55c947897d20",
        "name": "Add topic",
        "func": "msg.topic = 'data'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 260,
        "wires": [
            [
                "88359554b30b8162"
            ]
        ]
    },
    {
        "id": "fd7b85639544d84c",
        "type": "function",
        "z": "1a7f55c947897d20",
        "name": "Add topic",
        "func": "msg.topic = 'authorization'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 400,
        "wires": [
            [
                "88359554b30b8162"
            ]
        ]
    }
]